# Exercise 1: Create a list by picking an odd-index items from the first list and even index items from the second

Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

Given:

l1 = [3, 6, 9, 12, 15, 18, 21]

l2 = [4, 8, 12, 16, 20, 24, 28]

Solution:

In [19]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]

l1_o=odd_elements=l1[1::2]
l2_e=even_elements=l2[0::2]
l3=l1_o+l2_e
print(l3)

[6, 12, 18, 4, 12, 20, 28]

# Exercise 2: Remove and add item in a list

Write a program to remove the item present at index 4 and add it to the 2nd position and at the end of the list.

Given:

list1 = [54, 44, 27, 79, 91, 41]

Solution:

In [27]:
sample_list1 = [54, 44, 27, 79, 91, 41]
removed_index=sample_list1.pop(4)
sample_list1.insert(2,removed_index)
sample_list1.append(removed_index)
print(sample_list1)

[54, 44, 91, 27, 79, 41, 91]

# Exercise 3: Slice list into 3 equal chunks and reverse each chunk

Given:

sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]

Solution:

In [56]:
sample_list1 = [11, 45, 8, 23, 14, 12, 78, 45, 89]
chunk1=sample_list1[0:3]
reversed_chunk1=list(reversed(chunk1))
chunk2=sample_list1[3:6]
reversed_chunk2=list(reversed(chunk2))
chunk3=sample_list1[6 :]
reversed_chunk3=list(reversed(chunk3))

print("chunk 1:", chunk1)
print("reversed_chunk1:",reversed_chunk1)
print("chunk 2:",chunk2)
print("reversed_chunk2:",reversed_chunk2)
print("chunk 3:",chunk3)
print("reversed_chunk3:",reversed_chunk3)

chunk 1: [11, 45, 8]
reversed_chunk1: [8, 45, 11]
chunk 2: [23, 14, 12]
reversed_chunk2: [12, 14, 23]
chunk 3: [78, 45, 89]
reversed_chunk3: [89, 45, 78]

OR:

In [57]:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
print("Original list ", sample_list)

length = len(sample_list)
chunk_size = int(length / 3)
start = 0
end = chunk_size

# run loop 3 times
for i in range(3):
    # get indexes
    indexes = slice(start, end)
    
    # get chunk
    list_chunk = sample_list[indexes]
    print("Chunk ", i, list_chunk)
    
    # reverse chunk
    print("After reversing it ", list(reversed(list_chunk)))

    start = end
    end += chunk_size

Original list  [11, 45, 8, 23, 14, 12, 78, 45, 89]
Chunk  0 [11, 45, 8]
After reversing it  [8, 45, 11]
Chunk  1 [23, 14, 12]
After reversing it  [12, 14, 23]
Chunk  2 [78, 45, 89]
After reversing it  [89, 45, 78]

# Exercise 4: Count the occurrence of each element from a list

Write a program to iterate a given list and count the occurrence of each element and create a dictionary to show the count of each element.
]
Given:

sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]

Solution:

In [60]:
sample_list2 = [11, 45, 8, 11, 23, 45, 23, 45, 89]
count_dict = {}

for element in sample_list2:
    if element in count_dict:
        count_dict[element] += 1
    else:
        count_dict[element] = 1

print(count_dict)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

# Exercise 5: Create a Python set such that it shows the element from both lists in a pair

Given:

first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

Expected Output:

Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

Solution:

In [11]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
result=zip(first_list,second_list)
result_set=set(result)
print(result_set)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

# Exercise 6: Find the intersection (common) of two sets and remove those elements from the first set

first_set = {23, 42, 65, 57, 78, 83, 29}

second_set = {57, 83, 29, 67, 73, 43, 48}

In [28]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}
common_elem=second_set.intersection(first_set)
print("common elements:", common_elem)
for item in common_elem:
    first_set.remove(item)
print("First Set after removing common elements ", first_set)

common elements: {57, 83, 29}
First Set after removing common elements  {65, 23, 42, 78}

# Exercise 7: Checks if one set is a subset or superset of another set. If found, delete all elements from that set

In [37]:
first_set = {27, 43, 34}
second_set = {34, 93, 22, 27, 43, 53, 48}

print("First set is subset of second set",first_set.issubset(second_set))
print("Second set is subset of first set",second_set.issubset(first_set))
print("First set is superset of second set",first_set.issuperset(second_set))
print("Second set is super set of first set",second_set.issuperset(first_set))

if first_set.issubset(second_set):
    first_set.clear()
else:
    second_set.clear()

print("First set:",first_set)
print("Second set:",second_set)

First set is subset of second set True
Second set is subset of first set False
First set is superset of second set False
Second set is super set of first set True
First set: set()
Second set: {48, 34, 53, 22, 27, 43, 93}

# Exercise 8: Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list

roll_number = [47, 64, 69, 37, 76, 83, 95, 97]

sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}

After removing unwanted elements from list [47, 69, 76, 97]

In [80]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]

sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}

roll_number[:] = [item for item in roll_number if item in sample_dict.values()]
print("after removing unwanted elements from list:", roll_number)

after removing unwanted elements from list: [47, 69, 76, 97]

# Exercise 9: Get all values from the dictionary and add them to a list but don’t add duplicates

In [87]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}

print("Dictionary's values - ", speed.values())

speed_list = list()

# iterate dict values
for val in speed.values():
    # check if value not present in a list
    if val not in speed_list:
        speed_list.append(val)
print("unique list", speed_list)

Dictionary's values -  dict_values([47, 52, 47, 44, 52, 53, 54, 44, 54])
unique list [47, 52, 44, 53, 54]

# Exercise 10: Remove duplicates from a list and create a tuple and find the minimum and maximum number

Given:

sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

In [101]:
sample_list4 = [87, 52, 44, 53, 54, 87, 52, 53]

Unique_list = list(set(sample_list4))
print("unique list", Unique_list)

t = tuple(Unique_list)
print("tuple ", t)

print("Minimum number is: ", min(t))
print("Maximum number is: ", max(t))

unique list [44, 52, 53, 54, 87]

TypeError: 'tuple' object is not callable